* {
 
    margin: 0;
    padding: 0;
}
body{
    /* background-color: black;
     */
    background-image: url('https://r4.wallpaperflare.com/wallpaper/623/907/622/style-the-dark-background-food-spoon-wallpaper-50b9be932b01adda903097ce88942b3d.jpg');
    background-size: cover;
    background-position: center;
}